:root{
    --cor-fundo: #433D8B;
    --cor-card: #17153B;
    --cor-fonte: #e5e9ec;
    --cor-houver: #0a0724;
    --font-titulo: "Amatic SC", sans-serif;
    --font-texto: "IM Fell English", serif;
    
}

body{
    display: flex;
    background-color: #433D8B;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    


}



